@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
@media (min-width:360px){
  .Esconder{
   scrollbar-color: transparent transparent;
   overflow-x:auto ;
  }

  }


    /* Estiliza a barra de rolagem horizontal */
    /* ::-webkit-scrollbar {
      height: 8px; Define a altura da barra de rolagem horizontal
      width: 10px;  Define a largura da barra de rolagem vertical
    } */
   
  
   
  }
  